* {
    /* outline: 1px solid grey; */
}
#container {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 5em;
    padding: 0;
}
#headerBar {
    margin: 0 0 0.7em 0;
    border-radius: 0.4em 0.4em 0 0;
    background-image: linear-gradient(rgb(170, 170, 170), rgba(221, 221, 216, 0.781), rgb(170, 170, 170));
    display:table;
}
#logo, #pageName {
    vertical-align: middle;
    display:table-cell;
}

#logo {
    margin: 0.5em 0.5em 0.5em 1em;
    display: inline;

}

#pageName {
    margin-top: 0.7em;
    display: inline-block;

}

.narbar {
    width: 100%;
}
#aboutLink {
    border: 1px solid gray;
    background-image: linear-gradient(to bottom right, rgb(245, 245, 245), rgba(255, 255, 255, 0.993));
    border-bottom: 1px solid rgb(255, 255, 255);
}
#tutorialLink, #toolLink {
    background-image: linear-gradient(rgb(170, 170, 170), rgba(221, 221, 216, 0.781), rgb(170, 170, 170));
}
.narbarLink {
    border-radius: 0.95em 0.95em 0 0;
    border: 1px solid rgba(179, 176, 176, 0.308);
    border-bottom: none;
    padding: 1.2% 1.5%;
    margin-bottom: -1px;
    cursor:pointer;
}
.narbarLink:focus {
    outline-style: none;
}

.narbarLink h1 {
    display: inline;
}

.content {
    padding: 0 2.5% 2% 2.5%;
    font-size: large;
    border: 1px solid grey;
    border-radius: 0 10px 10px 10px;
}
fieldset{
    margin-top: 1em;
    padding-top: 0.5em;
    border: 1px solid grey;
    border-radius: 2px;
}
legend {
    border: 1px solid grey;
    padding: 0.4em;
    border-radius: 2px;
}
table {
    width: 100%;
}
.col1 {
    width: 35%;
}
.inputText { 
    margin: 1% 0;
    width: 90%; 
    height: 2em; 
    border: 1px solid grey; 
    border-radius: 3px;
    padding-left: 0.5em;
}

#feedbackInput {
    height: 5em; 
}

.radio {
    display: inline;
}
select {
    margin: 1em 0;
    height: 2em; 
}

.goalPCR, .goalIgg, .goalIgm, .goalTestType {
    display: none;
}

.formSection {
    padding-top: 1em;
}

#radiography {
    margin-bottom: 0;
}
small {
    margin-top: 0;
    font-style: italic;
}

#resetButton, #submitButton {
    padding: 0.5em 0.7em;
    margin-top: 0.6em;
    border-radius: 0.3em;
    box-shadow: 0.15em 0.15em;
    font-size: large;
    cursor: pointer;
    border: none;
}
#resetButton {
    margin-left: 1em;
    background-color: #fae847;
    background-image: linear-gradient(rgb(226, 219, 161), rgba(238, 238, 230, 0.781), rgb(226, 219, 161));
}

#submitButton {
    margin-left: 75%;
    background-image: linear-gradient(rgb(170, 170, 170), rgba(221, 221, 216, 0.781), rgb(170, 170, 170));
    font-weight: bold;
    
}

#resetButton:focus, #submitButton:focus {
    outline-style: none;
}

/* Beg of Slider bar for PPV */
.slidecontainer {
    width: 100%;
}

.slider1 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    -webkit-appearance: none;
    height: 25px;
    background: linear-gradient(to left,
            #35a834 10%,
            #ffd400 30%,
            #ff6400 70%,
            red 100%);
    transition: opacity .2s;
    border-radius: 20px;
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 45px;
    background: #000;
    cursor: pointer;
}

.slider1::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000;
    cursor: pointer;
}

#demo {
    text-align: center;
    margin: 3vh;
    font-size: 24px;
}
/* End of Slider bar */

/* Beg of Slider bar for NPV */
.slidecontainer2 {
    width: 100%;
}

.slider2 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 25px;
    -webkit-appearance: none;
    height: 25px;
    background: linear-gradient(to left,
            #35a834 10%,
            #ffd400 30%,
            #ff6400 70%,
            red 100%);
    transition: opacity .2s;
    border-radius: 20px;
}

.slider2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 45px;
    background: #000;
    cursor: pointer;
}

.slider2::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000;
    cursor: pointer;
}

#demo {
    text-align: center;
    margin: 3vh;
    font-size: 24px;
}
/* End of Slider bar for NPV */


.hiddenField {
    display: none;
}

.inputAsParagraph {
    display: none;
    width: 100%;
    border: none;
    background-color: none;
    font-size: x-large;
    text-align: center;
    margin-top: 1.5em;
    z-index: -1;
}
 #testResultDisplay {
    text-align: center;
    margin-top: 1.5em;
    z-index: 1;
 }