* {
    /* outline: 1px solid grey; */
}
#container {
    margin: 10px auto;
    max-width: 1000px;
    margin-bottom: 5em;
}

.narbar {
    width: 100%;
}
#aboutLink {
    background-image: linear-gradient(to bottom right, rgb(245, 245, 245), rgba(255, 255, 255, 0.993));
    border-bottom: 1px solid rgb(255, 255, 255);
}
#tutorialLink, #toolLink {
    background-image: linear-gradient(to bottom right, rgb(170, 170, 170), rgba(236, 236, 232, 0.781));
}
.narbarLink {
    border-radius: 15px 15px 0 0;
    border: 1px solid gray;
    border-bottom: none;
    padding: 1.5% 1.5%;
    margin-bottom: -1px;
}
.narbarLink h1 {
    display: inline;
}

.content {
    padding: 10px;
    font-size: large;
    border: 1px solid grey;
    border-radius: 0 10px 10px 10px;
}
fieldset{
    margin-top: 1em;
    padding-top: 0.5em;
    border: 1px solid grey;
    border-radius: 2px;
}
legend {
    border: 1px solid grey;
    padding: 0.4em;
    border-radius: 2px;
}
table {
    width: 100%;
}
.col1 {
    width: 35%;
}
.inputText { 
    margin: 1% 0;
    width: 90%; 
    height: 2em; 
    border: 1px solid grey; 
    border-radius: 3px;
    padding: 1px;
}

#feedbackInput {
    height: 5em; 
}

.radio {
    display: inline;
}
select {
    margin: 1em 0;
    height: 2em; 
}

.goalPCR, .goalIgg, .goalIgm, .goalTestType {
    display: none;
}

.formSection {
    padding-top: 1em;
}

#radiography {
    margin-bottom: 0;
}
small {
    margin-top: 0;
    font-style: italic;
}